<!doctype html>
<html>

<head>
  <meta charset="utf-8" data-react-helmet="true">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>INDEX PAGE</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">

  <!-- OGP -->
  <meta property="og:site_name" content="CONTENT" data-react-helmet="true">
  <meta property="og:type" content="website">

  <!-- Site name -->
  <meta name="apple-mobile-web-app-title" content="CONTENT">
  <meta name="application-name" content="CONTENT">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
</head>

<body>
    <div id="root"></div>
</body>
</html>
